<aside class="sidebar" id="sidebar">
    <div class="sidebar-icon-content">
        <a href="https://github.com/opdev1004" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        <a href="https://www.npmjs.com/~opdev1004" target="_blank"><ion-icon name="logo-npm"></ion-icon></a>
        <a href="https://www.nuget.org/profiles/opdev1004" target="_blank">
            <ion-icon name="logo-microsoft"></ion-icon></ion-icon>
        </a>
        <a href="https://www.linkedin.com/in/opdev1004/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
    </div>
    <div class="sidebar-text-content">
        <h4>Main</h4>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="https://github.com/sponsors/opdev1004" target="_blank">Support my project</a>
                </li>
            </ul>
        </nav>
        <h4>Blog</h4>
        <nav>
            <ul>
                <li>
                    <a href="/contents-list/web-development/web-development-1">Web Development</a>
                </li>
                <li>
                    <a href="/contents-list/windows/windows-1">Windows</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-empty-zone" id="sidebar-empty-zone" onclick="main.runContentTab()"></div>
</aside>